<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trianz.locationalarm">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permisson.ACCESS_GPS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AuthenticationActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".ConfirmRegisterActivity" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".OffersActivity"
            android:label="Offers and Coupons"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDqmAQS3dFEYSu_PvrYohlnD0fjRspzzrw" />

        <activity
            android:name=".AddReminderActivity"
            android:theme="@style/AddReminder" />

        <service android:name=".Utils.LocationReminderIntentService" />

        <activity android:name=".OffersMapActivity" />
        <!--
ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".AddReminderToDateActivity"
            android:theme="@style/AddReminder"/>

        <activity android:name=".RemindMeTask"/>

        <activity android:name=".ReminderSetActivity"/>

        <activity android:name=".AlarmRingingActivity">


        </activity>

    <service
            android:name=".AlarmService"
            android:enabled="true" />

        <!--<receiver android:name=".AlarmReceiver" />-->

        <receiver android:name=".AlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>